.collection-item {
    display: flex;
    justify-content: space-between;
}

.trash{
    color: gray;
}

.trash:hover {
    cursor: pointer;
    color: red;
}

.like {
    color: rgb(68, 68, 252);
}

.like:hover {
    cursor: pointer;
    color: rgb(143, 143, 253);
}

