h2 {
    color: rgb(51, 160, 196);
    text-shadow: 1px 2px 3px darkblue;
}

h3 {
    color: rgb(51, 160, 196);
    text-shadow: 1px 2px 3px darkblue;
}

.collection-item {
    display: flex;
    justify-content: space-between;
}

.material-icons{
    cursor: pointer;
    margin-right: 5px;
}

.trash{
    color: gray;
}

.trash:hover {
    
    color: red;
}

.like {
    color: rgb(68, 68, 252);
}

.like:hover {
    
    color: rgb(143, 143, 253);
}

.vote-box{
    display: flex;
    align-items: center;
}

